<!-- Top Navbar -->
<mat-toolbar color="primary" class="flex justify-between items-center-safe">
  <div class="flex items-center">
    <button *ngIf="isMobile" mat-icon-button (click)="sidenav.toggle()" class="flex items-center justify-center">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-base text-center font-semibold">Smart Bot Dashboard</span>
  </div>

  <button mat-raised-button color="warn">Logout</button>
</mat-toolbar>



<mat-sidenav-container class="h-[calc(100vh-64px)]">

  <!-- Sidebar -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over':'side'" [opened]="!isMobile" [class.custom-width]="!isMobile">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dashboard'" routerLinkActive="active-link"
        (click)="closeIfMobile(sidenav)">Dashboard</a>
      <a mat-list-item [routerLink]="'/chat'" routerLinkActive="active-link" (click)="closeIfMobile(sidenav)">Chat</a>
      <a mat-list-item [routerLink]="'/faq-management'" routerLinkActive="active-link"
        (click)="closeIfMobile(sidenav)">FAQ Management</a>
      <a mat-list-item [routerLink]="'/analytics'" routerLinkActive="active-link"
        (click)="closeIfMobile(sidenav)">Analytics</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Page Content -->
    <main class="p-4">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>